<div class="slider">
    <div class="slider__content">
        <ul class="slider__items">
            <li class="slider__item">
                <span class="slider__circle">
                    <span class="slider__hidden">
                        <img class="slider__img" src="img/boy-1.png" alt="boy"> 
                    </span>
                </span>
            </li>
            <li class="slider__item">
                <span class="slider__circle">
                    <span class="slider__hidden">
                        <img class="slider__img" src="img/boy-2.png" alt="boy"> 
                    </span>
                </span>
            </li>
            <li class="slider__item">
                <span class="slider__circle">
                    <span class="slider__hidden">
                        <img class="slider__img" src="img/boy-1.png" alt="boy"> 
                    </span>
                </span>
            <li class="slider__item">
                <span class="slider__circle">
                    <span class="slider__hidden">
                        <img class="slider__img" src="img/boy-2.png" alt="boy"> 
                    </span>
                </span>
            <li class="slider__item">
                <span class="slider__circle">
                    <span class="slider__hidden">
                        <img class="slider__img" src="img/boy-1.png" alt="boy"> 
                    </span>
                </span>
        </ul>
    </div>
    <div class="slider__nav">
        <button class="slider__button-left">< Назад</button>
        <button class="slider__button-right">Далі ></button>
    </div>
</div>